html,
body {
	font-family: monospace, Helvetica Neue, sans-serif !important;
	margin: 0;
	scroll-behavior: smooth;
}

.MuiStepper-horizontal {
	padding: 0 !important;
}
.MuiStepLabel-label {
	color: grey !important;
	font-family: monospace !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
