.container {
	min-height: 100vh;
	/* padding: 0 0.5rem; */
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
}

.app_label {
	text-align: center;
	font-family: monospace;
	font-size: 1.25rem;
}
.header {
	background-color: #f5f5f5 !important;
	color: #000 !important;
}
.header__wrapper {
	display: flex !important;
	align-items: center !important;
}
.touristspots {
	overflow-y: hidden;
	overflow-x: scroll;
	display: flex !important;
	padding: 1rem;
	justify-content: center;
	scroll-snap-type: x;
}

.spotTitle {
	text-transform: capitalize;
	font-family: monospace !important;
	font-size: 1rem !important;
}
.topSunHead {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color: grey !important;
	font-weight: 400;
	text-transform: capitalize;
}
.topSunHeadLeft {
	display: flex;
	align-items: center;
}
.topSunHeadRight {
	display: flex;
	align-items: center;
}

.image_overlay {
	position: relative;
	width: 100%;
	display: block;
}
.image_overlay {
	position: relative;
	width: 100%;
	display: block;
}
.overlay {
	display: none;
	font-family: monospace;
	width: 100%;
}
.image_overlay a:focus,
.image_overlay a:active,
.image_overlay:hover > .overlay {
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	padding: 5%;
	background: #f5f5f5;
	opacity: 0.6;
	overflow: hidden;
}

.price {
	font-size: 0.875rem !important;
	color: grey !important;
	font-weight: 400;
}
.swipe__container {
	/* max-width: 80vw; */
	flex-grow: 1;
	flex-direction: row;
	display: flex !important;
}
.swipe__container > div:nth-child(2) {
	height: 50vh !important;
	width: 60vw;
}

.swipes__img {
	display: block;
	overflow: hidden;
	width: 100%;
}
.swipes__img > img {
	width: 100%;
	object-fit: cover;
	object-position: center;
	/* height: 100%; */
	transition: all 1s linear;
}
.swipes__img:hover {
	transform: scale(1.05);
}
.swipe_header {
	display: flex;
	align-items: center;
	height: 50px;
	background-color: #f5f5f5 !important;
	padding-left: 0.5rem;
	border-radius: 0.25rem;
	border: none !important;
}
.swipe_header > p {
	font-family: monospace !important;
	font-size: 1.5rem;
	text-align: center;
	width: 100%;
}

.swipes__desc {
	width: 60vw;
	font-family: monospace;
	justify-content: center;
	align-items: center;
	display: flex;
}
.swipes__desc > h5 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.swipes__desc > a {
	color: blue;
	display: flex;
	min-width: 66px;
}
.header__title {
	font-family: monospace;
	margin: 0;
	font-size: 30px;
}

.avatar {
	width: 75px !important;
	height: 75px !important;
	margin: 0;
	margin-right: 0.25rem;
	background: #f5f5f5 !important;
	border-radius: 50% !important;
}
.MuiAvatar-img {
	background: #f5f5f5 !important;
	border-radius: 50% !important;
}
.contact {
	display: flex;
	flex-grow: 1;
	place-items: flex-end;
	flex-direction: column;
}
.contact > div {
	justify-content: center;
	align-items: center;
	display: flex;
	font-family: monospace;
}
.contact > a {
	justify-content: center;
	align-items: center;
	display: flex;
	font-family: monospace;
}
.footer {
	width: 50%;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	position: fixed;
	bottom: 1rem;
	background-color: #f5f5f5 !important;
}
.MuiLinearProgress-root {
	height: 4px !important;
}

.addData__container {
	min-height: 100vh;
	background: #f5f5f5;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.addData__container > input {
	width: 20rem;
	padding: 1rem;
	margin: 4px 0;
}
.addData__container > textarea {
	width: 20rem;
	padding: 1rem;
	margin: 4px 0;
}
.upload__image {
	display: flex;
	flex-direction: row;
	width: 20rem;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0;
}

.save_btn {
	width: 8rem;
	padding: 10px;
	color: #f5f5f5;
	border-radius: 4px;
	border: none;
	box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%),
		0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%),
		0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
	font-size: 1rem;
	cursor: pointer;
	background-color: #3f51b5;
}
@media only screen and (max-width: 600px) {
	.contact {
		font-size: 0.75rem;
	}
	.touristspots {
		justify-content: flex-start;
	}
	.header__wrapper {
		flex-direction: column !important;
		position: absolute;
		top: 0px;
		z-index: 1000;
	}
	.MuiAvatar-img {
		background: #f5f5f5 !important;
		border-radius: 50% !important;
	}
	.header__title {
		display: none;
	}
	.footer {
		width: 85%;
	}
	.swipe_header > p {
		font-size: 1rem;
	}
	.swipe__container > div:nth-child(2) {
		height: 40vh !important;
		width: 80vw;
	}
	.swipes__desc {
		width: 80vw;
	}
	.avatar {
		width: 120px !important;
		height: 120px !important;
	}
}

.main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title a {
	color: #0070f3;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

.title,
.description {
	text-align: center;
}

.description {
	line-height: 1.5;
	font-size: 1.5rem;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	margin-top: 3rem;
}

.aboutus {
	color: #ffffff;
	background: transparent
		radial-gradient(
			closest-side at 50% 50%,
			#383838 0%,
			#1f1f1f 34%,
			#000000 100%
		)
		0% 0% no-repeat padding-box;

	scroll-behavior: smooth;
	position: relative;
	z-index: 0;
	width: 100%;
	min-height: 100vh;
}
.aboutus > div {
	background-image: url('/assets/app_backgroung.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* opacity: 0.5; */
}

.aboutus p {
	padding: 2rem;
	text-align: center;
}

.card {
	margin: 1rem 0.5rem 1rem 1rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease, transform 2s ease;
	overflow: unset !important;
	scroll-snap-align: center;
	scroll-snap-stop: normal;
}

.media {
	width: 18rem;
	height: 15rem;
}

.card_action {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}
.card:hover,
.card:focus,
.card:active {
	/* color: #0070f3;
	border-color: #0070f3; */
	transform: scale(1.1);
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}

@media (max-width: 360px) {
	.swipe__container > div:nth-child(2) {
		height: 48vh !important;
		width: 80vw;
	}
	.swipe__footer {
		font-size: 12px;
	}
	.swipe__footer > button {
		font-size: 12px;
	}
	.avatar {
		width: 72px !important;
		height: 72px !important;
	}
}
